*{
  box-sizing: border-box;
}


.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-overview{
  display:flex;
  flex: 33%;
  
}
.weather-component-container{
display: flex;
flex-direction: column;
align-items: center;
flex: 30%;
margin-top: 20px;
}

.bottom-page{
  background-color: aqua;
  flex: 100%;

}


@media (max-width: 1000px) {
  .display-overview {
    flex-direction: column;
  }
}
